﻿@model EProjectGroup2.Models.Products

@{
    ViewData["Title"] = "Details";
}

<div class="flex-col mx-auto items-center md:items-start md:flex-row flex-center mt-10 gap-10">
    <div class="shrink-0 h-[400px] border-2">
        <img class="card-img-top product-image" src="@Url.Content("~/Image/"+Model.ImagePath)" alt="Product Image">
    </div>
    <div class="">
        <div class="flex items-end gap-2">
            <div class="font-semibold text-[24px] leading-5">@Html.DisplayFor(model => model.ProductName)</div>
            <span class="text-[#999] text-sm leading-3">@Html.DisplayFor(model => model.Categories.CategoryName)/@Html.DisplayFor(model => model.ProductTypes.ProductName)</span>
        </div>
        <div class="text-[#999] mt-1 mb-5">@Html.DisplayFor(model => model.Manufacturer)</div>
        <div class="text-[#999]">
            @Html.DisplayFor(model => model.Description)
        </div>
        <table class="table-auto my-5">
            <thead class="border-b-2">
                <tr>
                    <th class="pr-[100px] font-semibold">Price</th>
                    <th class="font-semibold">Inventory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pt-2 text-[20px] font-bold">@Html.DisplayFor(model => model.Price)</td>
                    <td class="pt-2 text-[20px] font-bold">999</td>
                </tr>
            </tbody>
        </table>
        <form method="post" asp-controller="CartDetails" asp-action="AddToCart">
            <input type="hidden" name="productId" value="@Model.ProductID" />
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" />
            <button type="submit" class="primary-btn rounded-lg h-10">Add to Cart</button>
        </form>
    </div>
</div>

@*

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypes.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
             <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
             <img class="card-img-top product-image" src="@Url.Content("~/Image/"+Model.ImagePath)" alt="Product Image">
        </dd>
        <dt class = "col-sm-2">
            Add to cart
        </dt>
        <dd class = "col-sm-10">
           <form method="post" asp-controller="CartDetails" asp-action="AddToCart">
                <input type="hidden" name="productId" value="@Model.ProductID" />
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="1" />
                <button type="submit">Add to Cart</button>
            </form>
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
*@

