﻿@model IEnumerable<EProjectGroup2.Models.Educations>

@{
    ViewData["Title"] = "Educations";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Educations</h1>

<p>
    <a asp-controller="Feedbacks" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                    <a asp-controller="Educations" asp-action="Edit" asp-route-id="@item.EducationID">Edit</a> |
                    <a asp-controller="Educations" asp-action="Details" asp-route-id="@item.EducationID">Details</a> |
                    <a asp-controller="Educations" asp-action="Delete" asp-route-id="@item.EducationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
