﻿@model EProjectGroup2.Models.Educations

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Educations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EducationName" class="control-label"></label>
                <input asp-for="EducationName" class="form-control" />
                <span asp-validation-for="EducationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationDescription" class="control-label"></label>
                <input asp-for="EducationDescription" class="form-control" />
                <span asp-validation-for="EducationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationType" class="control-label"></label>
                <input asp-for="EducationType" class="form-control" />
                <span asp-validation-for="EducationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationContent" class="control-label"></label>
                <input asp-for="EducationContent" class="form-control" />
                <span asp-validation-for="EducationContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationDate" class="control-label"></label>
                <input asp-for="EducationDate" class="form-control" />
                <span asp-validation-for="EducationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
