﻿@model EProjectGroup2.Models.Educations

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Educations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EducationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
