﻿@model EProjectGroup2.Models.Educations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Educations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EducationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
