﻿@model IEnumerable<EProjectGroup2.Models.OrderDetails>

@{
    ViewData["Title"] = "DetailOrder";
}

<h1>DetailOrder</h1>

<table class="table">
    <thead>
        <tr>
             <th>
                ProductName
            </th>
            <th>
                Imgage
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                Price
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName)
            </td>
                <td>
                    <img class="card-img-top" src="~/Image/@item.Products.ImagePath" asp-append-version="true" alt="Product Image">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Price)
            </td>
            
            <td>
                @ViewData["Address"]
            </td>
        </tr>
}
    </tbody>
</table>
