﻿@model EProjectGroup2.Models.Customers
@{
	ViewData["Title"] = "Home Page";
}

<div class="fixed inset-0 bg-[#000000b3] z-[99999]">
    <div role="wrapperBox"
         class="isLogin absolute w-[90%] max-w-[475px] md:max-w-[950px] h-fit min-h-[450px] md:h-[650px] rounded-[24px] bg-white shadow-2xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex overflow-hidden">
        <img src="https://vitaclinic.vn/storage/app/uploads/public/619/dde/b64/619ddeb648434917815749.jpg"
             alt=""
             class="absolute w-1/2 top-0 left-0 bottom-0 z-[99] transition duration-700 ease-in-out" />
        <div class="w-full md:w-1/2 p-[30px] md:p-[80px] font-bold flex flex-col gap-5 justify-center relative">
            <div class="mr-auto logo xl:mr-0 absolute top-5 left-5 text-black text-[18px]">
                Clinic Agent<span>.</span>
            </div>
            <form asp-action="LoginCustomer">
                <h4 class="text-[20px] md:text-[22px]">Welcome back</h4>
                <div class="form-container">
                    <label for="email" class="font-semibold block mb-1">Email</label>
                    <input type="email"
                           asp-for="Email"
                           id="email"
                           class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 mb-5 font-[400]"
                           placeholder="Enter your email" />
                    <label for="password" class="font-semibold block mb-1">Password</label>
                    <input type="password"
                           asp-for="Password"
                           id="password"
                           class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]"
                           placeholder="Enter your password" />
                </div>
                <div class="form-sub flex-center">
                    <input type="checkbox"
                           class="mr-1 cursor-pointer"
                           id="remember" /><label class="font-semibold mr-auto cursor-pointer" for="remember">Remember me</label>
                    <div class="font-bold text-secondary cursor-pointer text-sm">
                        Forgot password
                    </div>
                </div>
                <div>
                    <button class="primary-btn w-full h-[40px] rounded-lg">
                        Login
                    </button>
                    <span class="font-[400] text-[12px]">
                        Wanna have one?
                        <span class="underline cursor-pointer font-bold" role="switch">Click me to register</span>
                    </span>
                </div>
            </form>
        </div>
        <div class="hidden md:w-1/2 md:block w-full md:w-1/2 p-[30px] md:p-[50px] font-bold flex flex-col gap-5 justify-center relative">
            <div class="mr-auto logo xl:mr-0 absolute top-5 left-5 text-black text-[18px]">
                Clinic Agent<span>.</span>
            </div>
            <div class="h-full flex items-center justify-center flex-col">
                <h4 class="text-[20px] md:text-[22px]">Nice to meet you!</h4>
                <form asp-controller="Customers" asp-action="Create">
                    <div class="form-container grid-cols-2 grid gap-3 mb-5 justify-center">
                        <div class="col-span-2">
                            <label for="fullname" class="font-semibold block">Full name</label>
                            <input type="text"
                                   asp-for="Name"
                                   id="fullname"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                        <div class="col-span-2">
                            <label for="username" class="font-semibold block">Username</label>
                            <input type="text"
                                   asp-for="UserName"
                                   id="username"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                        <div>
                            <label for="email" class="font-semibold block">Email address</label>
                            <input type="email"
                                   asp-for="Email"
                                   id="email"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                        <div>
                            <label for="phone" class="font-semibold block">Phone number</label>
                            <input type="text"
                                   asp-for="PhoneNumber"
                                   id="phone"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                        <div>
                            <label for="password" class="font-semibold block">Password</label>
                            <input type="password"
                                   asp-for="Password"
                                   id="password"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                        <div>
                            <label for="confirmPassword" class="font-semibold block">Confirm password</label>
                            <input type="password"
                                   id="confirmPassword"
                                   class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                        </div>
                    </div>
                    <div class="w-full">
                        <button class="primary-btn w-full h-[40px] rounded-lg">
                            Register
                        </button>
                        <span class="font-[400] text-[12px]">
                            We already met?
                            <span class="underline cursor-pointer font-bold" role="switch">Click me to login</span>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*



    <link rel="stylesheet" href="~/css/LoginCus.css">
<div class="main">
	<h2>Wellcome </h2>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form asp-controller="Customers" asp-action="Create">
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<input type="text" placeholder="UserName" asp-for="UserName"/>
				<input type="text" placeholder="Name" asp-for="Name" />
				<input type="text" placeholder="Phone" asp-for="PhoneNumber" />
				<input type="email" placeholder="Email" asp-for="Email" />
				<input type="password" placeholder="Password" asp-for="Password" />
				<input type="password" placeholder="Repeat Password" id="repeatPassword"/>
				<input type="date" placeholder="Birthday" asp-for="DateOfBirth" />
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form asp-action="LoginCustomer">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input type="email" placeholder="Email" asp-for="Email" />
				<input type="password" placeholder="Password" Password" asp-for="Password" />
				<a href="#">Forgot your password?</a>
				<button>Sign In</button>
				<div class="form-outline mb-4">
					@ViewBag.username
				</div>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<div class="admin-redirect">
		<p>Registered as an admin? <a href="/Users/LoginAdmin">Login here!</a></p>

	</div>
</div>
<script>
	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});

	signInButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});
</script>

*@