﻿@model EProjectGroup2.Models.Users

@{
    ViewData["Title"] = "Login";
}
<div class="fixed inset-0 bg-[#000000b3] z-[99999]">
    <form asp-action="Login">
        <div class="absolute w-[90%] max-w-[475px] md:max-w-[950px] h-fit min-h-[450px] md:h-[650px] rounded-[24px] bg-white shadow-2xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex overflow-hidden">
            <div class="w-full md:w-1/2 p-[30px] md:p-[80px] font-bold flex flex-col gap-5 justify-center relative">
                <div class="mr-auto logo xl:mr-0 absolute top-5 left-5 text-black text-[18px]">
                    Clinic Agent<span>.</span>
                </div>
                <h4 class="text-[20px] md:text-[22px]">Welcome back, my Boss!</h4>
                <div class="form-container">
                    <label class="font-semibold block mb-1" for="UName" asp-for="UserName">UserName</label>
                    <input placeholder="Enter your username" type="text" id="UName" asp-for="UserName" class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 mb-5 font-[400]" />
                    <label class="font-semibold block mb-1" for="Pass" asp-for="Password">Password</label>
                    <input placeholder="Enter your password" type="password" id="Pass" asp-for="Password" class="outline-none border-2 border-[#eee] rounded-md h-[40px] w-full px-3 p-2 font-[400]" />
                </div>
                <div class="form-sub flex-center">
                    <input class="mr-1 cursor-pointer" type="checkbox" value="" id="Remember" />
                    <label class="font-semibold mr-auto cursor-pointer" for="Remember">
                        Remember me
                    </label>
                    <div class="font-bold text-secondary cursor-pointer text-sm">
                        Forgot password
                    </div>
                </div>
                <button class="primary-btn w-full h-[40px] rounded-lg">Login</button>
            </div>
            <div class="hidden md:w-1/2 md:block">
                <img src="https://vitaclinic.vn/storage/app/uploads/public/619/dde/b64/619ddeb648434917815749.jpg"
                     alt="" />
            </div>
        </div>
    </form>
</div>
@*

<header>
    <link rel="stylesheet" href="~/css/LoginAdmin.css" />
</header>
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your business</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    To provide a better healthcare for you, your family and friends. <br />
                    Join us today for a better tommorrow.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form asp-action="Login">
                            <h3>Admin</h3>
                            <!-- Username input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="UName" asp-for="UserName">UserName</label>
                                <input type="text" id="UName" class="form-control" asp-for="UserName" />

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Pass" asp-for="Password">Password</label>
                                <input type="password" id="Pass" class="form-control" asp-for="Password" />

                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">

                                <input class="form-check-input me-2" type="checkbox" value="" id="Remember" />
                                <label class="form-check-label" for="form2Example33">
                                    Remember
                                </label>
                            </div>
                            <div class="form-outline mb-4">
                                @ViewBag.username
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@
