﻿@model IEnumerable<EProjectGroup2.Models.Feedbacks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedbackID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedbackID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedbackID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
