﻿@model IEnumerable<EProjectGroup2.Models.CartDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action("AddToOrderDetails", "CartDetails")">

    <div class="flex flex-col lg:flex-row items-start gap-10 mt-10">
        <div class="w-full">
            <h4 class="text-[24px] font-semibold">Cart</h4>
            <table class="table-auto w-full">
                <thead class="hidden border-b-2 lg:table-header-group">
                    <tr>
                        <th class="text-left">
                            <input class="mb-3" role="select-all" type="checkbox" />
                        </th>
                        <th class="text-left pb-2 font-medium text-[#999]">Product</th>
                        <th class="text-left pb-2 font-medium text-[#999]">Quantity</th>
                        <th class="text-left pb-2 font-medium text-[#999]">Price</th>
                        <th class="text-left pb-2 font-medium text-[#999]">
                            Total Price
                        </th>
                        <th class="text-left pb-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="cursor-pointer hover:bg-[#0000000d] transition-all rounded-lg flex lg:table-row flex-col">
                            <td class="py-3">
                                <input type="checkbox" name="selectedProducts" value="@item.ProductID" />
                            </td>

                            <td class="py-3">
                                <div class="flex gap-2">
                                    <img class="lg:w-[150px] lg:h-[150px] w-[50px] h-[50px] border-2 rounded-lg"
                                         src="~/images/hacker.jpg"
                                         alt="" />
                                    <span class="font-semibold">@item.Products.ProductName</span>
                                </div>
                            </td>
                            <td class="py-3 align-top">
                                <div class="flex-center w-[100px] border-2 rounded-lg overflow-hidden"
                                     id="btn-wrapper">
                                    <button class="bg-[#e5e7eb] w-10 rounded-none action-quantity px-2"
                                            type="button"
                                            role="sub-quantity">
                                        <img class="h-4 w-4" src="~/images/sub.svg" alt="" />
                                    </button>
                                    <input class="w-full text-center" type="number" value="@item.Quantity" />
                                    <button class="bg-[#e5e7eb] w-10 rounded-none action-quantity px-2"
                                            type="button"
                                            role="add-quantity">
                                        <img class="h-4 w-4" src="~/images/plus.svg" alt="" />
                                    </button>
                                </div>
                            </td>
                            <td class="py-3 align-top">@item.Products.Price</td>
                            <td class="py-3 align-top">@(item.Quantity * item.Products.Price)</td>
                            <td class="py-3 align-top">
                                <form method="post" action="@Url.Action("RemoveFromCart", "CartDetails")">
                                    <input type="hidden" name="productId" value="@item.ProductID" />
                                    <button class="bg-[#ff595e] text-white rounded-lg" type="submit"><img src="~/images/trash.svg" class="w-4 h-4" alt="" /></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="flex flex-col gap-5 border-2 rounded-lg p-5 min-w-[30%]">
            <div class="flex-center">
                <span class="font-medium text-[#999]">Subtotal</span><span class="font-medium">$250.000</span>
            </div>
            <div class="flex-center">
                <span class="font-medium text-[#999]">Discount</span><span class="font-medium">$0</span>
            </div>
            <div class="flex w-full flex-col gap-5 pt-5 border-t-2">
                <div class="flex-center">
                    <span class="font-medium">Grandtotal</span><span class="font-medium">$250.000</span>
                </div>
                    <button class="primary-btn rounded-lg h-10" type="submit">Add Selected Products to Order Details</button>
            </div>
        </div>
    </div>
</form>
@*
<h1>Index</h1>

<form method="post" action="@Url.Action("AddToOrderDetails", "CartDetails")">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedProducts" value="@item.ProductID" />
                </td>
                <td>@item.Products.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Products.Price</td>
                <td>@(item.Quantity * item.Products.Price)</td>
                <td>
                    <form method="post" action="@Url.Action("RemoveFromCart", "CartDetails")">
                        <input type="hidden" name="productId" value="@item.ProductID" />
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <p>Total Price: @Model.Sum(cd => cd.Quantity * cd.Products.Price)</p>
        <div class="d-flex">
            <form style="margin-right:30px" method="post" action="@Url.Action("Index", "Home")">
                <button type="submit">Return List Product</button>
            </form>
            <button type="submit">Add Selected Products to Order Details</button>
        </div>
    </div>
</form>
*@