﻿@model IEnumerable<System.Linq.IGrouping<int, EProjectGroup2.Models.OrderDetails>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action("CreateOrder", "OrderDetails")">
    <table class="table-auto w-full">
        <thead class="hidden border-b-2 lg:table-header-group">
            <tr>
                <th class="text-left pb-2 font-medium text-[#999]">Select</th>
                <th class="text-left pb-2 font-medium text-[#999]">Product</th>
                <th class="text-left pb-2 font-medium text-[#999]">Quantity</th>
                <th class="text-left pb-2 font-medium text-[#999]">Price</th>
                <th class="text-left pb-2 font-medium text-[#999]">
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedOrders" value="@group.Key" />
                    </td>
                    <th colspan="4">Order ID: @group.Key</th>
                </tr>
                @foreach (var item in group)
                {
                    <tr class="cursor-pointer hover:bg-[#0000000d] transition-all rounded-lg flex lg:table-row flex-col">
                        <td></td>
                        <td class="py-3">
                            <div class="flex gap-2">
                                <img class="lg:w-[150px] lg:h-[150px] w-[50px] h-[50px] border-2 rounded-lg"
                                     src="./images/hacker.jpg"
                                     alt="" />
                                <span class="font-semibold">@item.Products.ProductName</span>
                            </div>
                        </td>
                        <td class="py-3 align-top">@item.Quantity</td>
                        <td class="py-3 align-top">@item.Products.Price</td>
                        <td class="py-3 align-top">@(item.Quantity * item.Products.Price)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="p-3 border-t-2 w-full">
        <div class="text-[20px] mb-3 font-semibold">Total Price: @Model.Sum(group => group.Sum(item => item.Quantity * item.Products.Price))</div>
        <button class="primary-btn h-10 rounded-lg">Checkout</button>
    </div>
</form>

@*<div class="flex flex-col gap-5">
    <table class="table-auto w-full">
        <thead class="hidden border-b-2 lg:table-header-group">
            <tr>
                <th class="text-left pb-2 font-medium text-[#999]">Select</th>
                <th class="text-left pb-2 font-medium text-[#999]">Product</th>
                <th class="text-left pb-2 font-medium text-[#999]">Quantity</th>
                <th class="text-left pb-2 font-medium text-[#999]">Price</th>
                <th class="text-left pb-2 font-medium text-[#999]">
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model) {
                @foreach (var item in group)
                {    
                <tr class="cursor-pointer hover:bg-[#0000000d] transition-all rounded-lg flex lg:table-row flex-col">
                        <td>
                            <input type="checkbox" name="selectedOrders" value="@group.Key" />
                        </td>
                    <td class="py-3">
                        <div class="flex gap-2">
                            <img class="lg:w-[150px] lg:h-[150px] w-[50px] h-[50px] border-2 rounded-lg"
                                 src="./images/hacker.jpg"
                                 alt="" />
                            <span class="font-semibold">@item.Products.ProductName</span>
                        </div>
                    </td>
                    <td class="py-3 align-top">@item.Quantity</td>
                    <td class="py-3 align-top">@item.Products.Price</td>
                    <td class="py-3 align-top">@(item.Quantity * item.Products.Price)</td>
                </tr>
                }
            }
        </tbody>
    </table>
    <div class="p-3 border-t-2 w-full">
        <form method="post" action="@Url.Action("CreateOrder", "OrderDetails")">
            <div class="text-[20px] mb-3 font-semibold">Total Price: @Model.Sum(group => group.Sum(item => item.Quantity * item.Products.Price))</div>
            <button class="primary-btn h-10 rounded-lg">Checkout</button>
        </form>
    </div>
</div>*@