﻿footer {
    background-color: #0d0c22;
    color: white;
    padding: 24px;
    /*margin-top: 48px;*/
}

.footer-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    gap: 128px;
    justify-content: space-between;
    padding-bottom: 24px;
}

.footer-left {
    font-size: 12px;
}

.footer-desc {
}

.footer-right {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer-column {
}

.column-title {
    font-size: 16px;
}

.column-list {
    padding: 0;
    list-style: none;
}

    .column-list li {
        margin: 6px 0;
    }

    .column-list a {
        color: white;
        font-size: 14px;
    }

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 32px;
}

    .socials img {
        width: 24px;
        height: 24px;
    }

@media screen and (max-width: 1200px) {
    .footer-top {
        flex-direction: column;
    }

    .footer-right {
        /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 24px; */
    }
}

@media screen and (max-width: 570px) {
    .section-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }

    .footer-right {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 12px;
    }

    .copyright {
        font-size: 12px;
    }
}
