﻿body {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    img[alt="icon"] {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }

@media screen and (max-width: 1200px) {
    main {
        padding: 0 48px;
    }
}
