﻿header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d0c22;
    padding: 20px;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

    .logo::after {
        display: inline-block;
        content: "";
        width: 8px;
        height: 8px;
        margin-left: 2px;
        border-radius: 999px;
        background-color: #fb8500;
    }

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links .nav-top {
    display: none;
}

.nav-link {
    color: white;
    font-size: 14px;
    transition: 500ms;
}

    .nav-link:hover {
        color: #fb8500;
    }

.action {
}

.login-btn {
    padding: 10px 16px;
    background-color: #fff;
    border-radius: 999px;
}

.toggle-btn {
    display: none;
    font-size: 40px;
    background-color: transparent !important;
    color: white;
}

@media screen and (max-width: 1200px) {
    .header-inner > .logo {
        margin-right: auto;
    }

    .nav-wrapper {
        padding: 20px;
        flex-direction: column;
        gap: 0;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 30px;
        position: fixed;
        inset: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        transition: 500ms;
        visibility: hidden;
    }

        .nav-links.active {
            background-color: #000000a6;
            visibility: visible;
        }

        .nav-links .nav-wrapper {
            transform: translateX(-100%);
            transition: 500ms;
            width: 80%;
            height: 100%;
            background-color: #0d0c22;
        }

        .nav-links.active .nav-wrapper {
            transform: translateX(0);
        }

    .nav-link {
        display: block;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
    }

        .nav-link:hover {
            background-color: #2c2a58;
            color: white;
        }

    .nav-links .nav-top {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
        align-items: center;
        justify-content: space-between;
    }

    .toggle-btn {
        display: block;
    }
}

@media screen and (max-width: 570px) {
    .section-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }

    .footer-right {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 12px;
    }

    .copyright {
        font-size: 12px;
    }
}
