﻿.section-title {
    font-size: 24px;
    margin: 12px 0;
}

.section-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: auto;
    gap: 24px;
}

.item-wrapper {
    padding: 12px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.img {
    border-radius: 6px;
    overflow: hidden;
    height: 200px;
    margin-bottom: 4px;
}

    .img img {
    }

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

    .info span {
        display: flex;
        align-items: center;
    }

.teacher {
    font-weight: 500;
    font-size: 16px;
    margin: 12px 0;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 25px;
    font-weight: 600;
}

.add-cart-btn,
.join-btn {
    padding: 10px 16px;
    background-color: #0d0c22;
    color: white;
    border-radius: 999px;
}

.medicine-title {
    margin-bottom: 12px;
}

.price {
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .section-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }

    .total {
        flex-direction: column;
    }

        .total button {
            width: 100%;
        }
}

@media screen and (max-width: 570px) {
    .section-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }
}
