@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="checkbox"] {
        cursor: pointer;
    }

    img[alt="icon"] {
        @apply w-4 h-4;
    }

    button {
        @apply px-[16px] py-[4px] rounded-full font-medium;
    }
}

@layer components {
    .primary-btn {
        @apply bg-primary text-white;
    }

    .white-btn {
        @apply bg-white;
    }

    .flex-center {
        @apply flex items-center justify-between;
    }

    .logo {
        @apply text-white font-bold text-[24px];
    }

        .logo span {
            @apply text-secondary;
        }

    .main-content {
        @apply max-w-[1280px] mx-auto px-5;
    }

    .nav-links {
        @apply flex-center gap-0 text-white font-medium fixed bg-primary flex-col inset-0 w-[80%] p-5 justify-start transition duration-500 -translate-x-[100%] xl:translate-x-[0] xl:p-0 xl:bg-transparent xl:flex xl:static xl:flex-row xl:justify-center xl:gap-[26px] xl:w-full;
    }

        .nav-links > a {
            @apply block w-full hover:bg-[#ffffff30] p-4 rounded-2xl transition-all xl:hover:bg-transparent xl:p-2 xl:w-fit;
        }

    .drawer-wrapper {
        @apply bg-black bg-opacity-0 transition duration-500;
    }

        .drawer-wrapper.active {
            @apply bg-opacity-50 fixed inset-0;
        }

            .drawer-wrapper.active .nav-links {
                @apply translate-x-0;
            }

    .grid-container {
        @apply grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
    }

    .card-action {
        @apply flex flex-col items-center justify-between mt-[20px] w-full xl:flex-row;
    }

        .card-action button {
            @apply w-full xl:w-fit;
        }

    .isLogin img {
        @apply translate-x-[100%];
    }
}
