﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" href="~/css/Contact.css" />
</header>

<form class="form">
    <h2 class="header2">CONTACT US</h2>
    <p type="Name:"><input placeholder="Write your name here.." type="text"></input></p>
    <p type="Email:"><input placeholder="Let us know how to contact you back.." type="email"></input></p>
    <p type="Message:"><input placeholder="What would you like to tell us.." type="text"></input></p>
    <br /><br />
    <button class="butn">Send Message</button>
    <div class="contact">
        <span class="fa fa-phone spn"></span>001 1023 567
        <span class="fa fa-envelope-o spn"></span> contact@company.com
    </div>
</form>