﻿@model IEnumerable<EProjectGroup2.Models.Educations>

@{
    ViewData["Title"] = "Educations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-container mt-10">
    @foreach (var item in Model)
    {
        <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
            <div class="img">
                <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                        alt="" />
            </div>
            <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                <div class="w-full text-sm flex-center">
                    <span class="justify-start flex-1 flex-center">18 Lesson</span>
                    <span class="justify-center flex-1 gap-1 flex-center"><img src="~/images/clock.svg" alt="icon" /> @Html.DisplayFor(modelItem => item.EducationDate)</span>
                    <span class="justify-end flex-1 gap-1 flex-center"><img src="~/images/users.svg" alt="icon" /> 150</span>
                </div>
                <h3 class="font-medium text-[20px] w-full mt-2">@Html.DisplayFor(modelItem => item.EducationName)</h3>
                <h5 class="color-[#999] text-[12px] w-full mt-2">Wiena Bowman</h5>
                <div class="card-action">
                    <div class="font-semibold text-[26px]">$480.00</div>
                    <button class="primary-btn">Join now</button>
                </div>
            </div>
        </div>
    }
</div>
@*

<h1>Educations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
        </tr>
}
    </tbody>
</table>

*@
