﻿@model IEnumerable<EProjectGroup2.Models.Products>

@{
    ViewData["Title"] = "Home Page";
}
    <section>
        <div class="swiper w-full h-[425px] mt-[40px] rounded-2xl overflow-hidden">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="https://images.pexels.com/photos/2280571/pexels-photo-2280571.jpeg?auto=compress&cs=tinysrgb&w=1280&h=425&dpr=1"
                         alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="https://images.pexels.com/photos/8851256/pexels-photo-8851256.jpeg?auto=compress&cs=tinysrgb&w=1280&h=425&dpr=1"
                         alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="https://images.pexels.com/photos/3938023/pexels-photo-3938023.jpeg?auto=compress&cs=tinysrgb&w=1280&h=425&dpr=1"
                         alt="" />
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <section>
        <h4 class="text-[30px] font-medium w-full mt-8 mb-3 border-b-4 border-secondary">
            Courses
        </h4>
        <div class="grid-container">
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="https://www.1nurse.com/cdn-cgi/image/fit=scale-down,format=webp,w=1080/blog/media/filer_public/cb/cc/cbcc3e1a-f645-4f14-a621-71b3077ce052/woman-doctor-wearing-lab-coat-with-stethoscope-isolated.jpg"
                         alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">Wiena Bowman</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">$480.00</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h4 class="text-[30px] font-medium w-full mt-8 mb-3 border-b-4 border-secondary">
            Medicines
        </h4>
        <div class="grid-container">
            @foreach(var item in ViewData["pharmacy"] as List<Products>)
            {
                <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                    <div class="img">
                    <img src="~/Image/@item.ImagePath"
                         alt="" />
                    </div>
                    <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                        <div class="w-full text-sm flex-center">
                            <span class="justify-start flex-1 flex-center">18 Lesson</span>
                            <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                            <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                        </div>
                        <h3 class="font-medium text-[20px] w-full mt-2">@item.ProductName</h3>
                        <div class="card-action">
                            <div class="font-semibold text-[26px]">@item.Price</div>
                            <button class="primary-btn">Join now</button>
                        </div>
                    </div>
                </div>
            }
    </section>
    <section>
        <h4 class="text-[30px] font-medium w-full mt-8 mb-3 border-b-4 border-secondary">
            Medical Equipments
        </h4>
        <div class="grid-container">
        @foreach(var item in ViewData["medical"] as List<Products>)
        {
            <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
                <div class="img">
                    <img src="~/Image/@item.ImagePath"
                     alt="" />
                </div>
                <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                    <div class="w-full text-sm flex-center">
                        <span class="justify-start flex-1 flex-center">18 Lesson</span>
                        <span class="justify-center flex-1 gap-1 flex-center"><img src="./images/clock.svg" alt="icon" /> 1h 40m</span>
                        <span class="justify-end flex-1 gap-1 flex-center"><img src="./images/users.svg" alt="icon" /> 150</span>
                    </div>
                    <h3 class="font-medium text-[20px] w-full mt-2">@item.ProductName</h3>
                    <div class="card-action">
                        <div class="font-semibold text-[26px]">@item.Price</div>
                        <button class="primary-btn">Join now</button>
                    </div>
                </div>
            </div>
        }
    </section>
