﻿@model List<EProjectGroup2.Models.Orders>

@{
ViewData["Title"] = "Order Details";
}

<h3 class="font-bold text-[30px] border-b-2 border-secondary mb-5 mt-10">
    YOUR ORDER
</h3>
<div class="flex items-stretch gap-3">
    <div class="flex-center items-start gap-3 bg-[#0000001a] rounded-2xl max-w-[65%] w-full">
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Name</h5>
            <div class="">@Model[0].Customers.Name</div>
        </div>
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Email</h5>
            <div class="truncate">@Model[0].Customers.Email</div>
        </div>
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Phone</h5>
            <div class="">@Model[0].Customers.PhoneNumber</div>
        </div>
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Address</h5>
            <div class="">
                @Model[0].Address.AddressName
            </div>
        </div>
    </div>
    <div class="flex-center items-start gap-3 bg-[#0000001a] rounded-2xl flex-1">
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Order ID</h5>
            <div class="">@Model[0].OrderID</div>
        </div>
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Order Date</h5>
            <div class="">@Model[0].CreatedDate</div>
        </div>
        <div class="flex flex-col gap-2 p-3">
            <h5 class="font-semibold">Order Status</h5>
            <div class="@((bool)Model[0].Status ? "Completed" : "Pending")">@((bool)Model[0].Status ? "Completed" : "Pending")</div>
        </div>
    </div>
</div>
<table class="table-auto w-full mt-5">
    <thead class="hidden border-b-2 lg:table-header-group">
        <tr>
            <th class="text-left pb-2 font-medium text-[#999]">Product</th>
            <th class="text-left pb-2 font-medium text-[#999]">Quantity</th>
            <th class="text-left pb-2 font-medium text-[#999]">Price</th>
            <th class="text-left pb-2 font-medium text-[#999]">
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            @foreach (var orderDetail in order.OrderDetails)
            {
                <tr class="cursor-pointer hover:bg-[#0000000d] transition-all rounded-lg flex lg:table-row flex-col">
                    <td class="py-3">
                        <div class="flex gap-2">
                            <img class="lg:w-[150px] lg:h-[150px] w-[50px] h-[50px] border-2 rounded-lg"
                                 src="~/images/hacker.jpg"
                                 alt="" />
                            <span class="font-semibold">@orderDetail.Products.ProductName</span>
                        </div>
                    </td>
                    <td class="py-3 align-top">@orderDetail.Quantity</td>
                    <td class="py-3 align-top">@orderDetail.Products.Price</td>
                    <td class="py-3 align-top">@(orderDetail.Quantity * orderDetail.Products.Price)</td>
                </tr>
            }
        }
    </tbody>
</table>

@*

<div class="container">
    <h2>Order Details</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <td><strong>Order ID:</strong></td>
                    <td>@Model[0].OrderID</td>
                </tr>
                <tr>
                    <td><strong>Order Date:</strong></td>
                    <td>@Model[0].CreatedDate</td>
                </tr>
                <tr>
                    <td><strong>Order Status:</strong></td>
                    <td>@((bool)Model[0].Status ? "Completed" : "Pending")</td>
                </tr>
                <tr>
                    <td><strong>Customer Name:</strong></td>
                    <td>@Model[0].Customers.Name</td>
                </tr>
                <tr>
                    <td><strong>Customer Email:</strong></td>
                    <td>@Model[0].Customers.Email</td>
                </tr>
                <tr>
                    <td><strong>Customer Phone:</strong></td>
                    <td>@Model[0].Customers.PhoneNumber</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>@Model[0].Address.AddressName</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Order Items</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        foreach (var orderDetail in order.OrderDetails)
                        {
                            <tr>
                                <td>@orderDetail.Products.ProductName</td>
                                <td>@orderDetail.Quantity</td>
                                <td>@orderDetail.Products.Price</td>
                                <td>@(orderDetail.Quantity * orderDetail.Products.Price)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
*@
