﻿@model IEnumerable<EProjectGroup2.Models.Products>

@{
    ViewData["Title"] = "Scientific";
}

<h4 class="text-[30px] font-medium w-full mt-8 mb-3 border-b-4 border-secondary">
    BEST SELLER
</h4>

<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="flex-col gap-2 overflow-hidden rounded-lg shadow-2xl flex-center">
            <div class="img w-full h-[250px] object-cover">
                <img src="~/Image/@item.ImagePath"
                     alt="@Html.DisplayFor(modelItem => item.ProductName)" />
            </div>
            <div class="p-[16px] pt-0 flex-center flex-col h-fit flex-1 w-full">
                <h3 class="font-medium text-[20px] w-full mt-2">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                <span class="self-start p-1 text-[12px] font-semibold rounded-full bg-[#e9eef1] bg-opacity-50">#@Html.DisplayFor(modelItem => item.ProductTypes.ProductName)</span>
                <div class="card-action">
                    <div class="font-semibold text-[26px]">$@Html.DisplayFor(modelItem => item.Price)</div>
                    <form method="post" asp-controller="CartDetails" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.ProductID" />
                        <input type="hidden" name="quantity" value="1" />
                        <button class="primary-btn">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>