﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EProjectGroup2</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

</head>
<body class="relative min-h-screen pb-[250px]">
    <header class="sticky top-0 left-0 right-0 bg-primary h-[78px] flex-center w-full px-5 z-[999]">
        <div class="cursor-pointer w-[32px] h-[32px] mr-3 xl:hidden"
             role="toggle-btn">
            <img src="~/images/menu.svg" alt="menu" />
        </div>
        <div class="mr-auto logo xl:mr-0">Clinic Agent<span>.</span></div>
        <div class="drawer-wrapper">
            <div class="nav-links">
                <div class="w-full mb-8 flex-center xl:hidden">
                    <div class="mr-auto logo xl:mr-0">Clinic Agent<span>.</span></div>
                    <div class="cursor-pointer w-[32px] h-[32px]" role="toggle-btn">
                        <img src="~/images/times.svg" alt="menu" />
                    </div>
                </div>

                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    <a asp-controller="Home" asp-action="Scientific" class="nav-link">Scientific</a>
                    <a asp-controller="Home" asp-action="Medical" class="nav-link">Medical</a>
                    <a asp-controller="Home" asp-action="Educations" class="nav-link">Education</a>
                    <a asp-controller="Home" asp-action="bussiness" class="nav-link">Bussiness</a>
                    <a asp-controller="Home" asp-action="about" class="nav-link">About Us</a>
                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="action flex gap-5" style="margin-right: 50px;">
                @{
                    string? myCookieValue = Context.Request.Cookies["UsrName"];
                    if (myCookieValue == null)
                    {
                    <button class="white-btn"><a asp-controller="Customers" asp-action="LoginCustomer">Login</a></button>
                }else {
                    string? name = Context.Request.Cookies["CustomerName"];
                    var id = int.Parse(Context.Request.Cookies["CustomerId"]);
                    <a class="px-4 h-10 rounded-full bg-white py-2 bg-white" asp-controller="CartDetails" asp-action="Index"><img class="w-6 h-6" src="~/images/cart.svg" alt="cart" /></a>
                    <div id="user-helper" class="bg-white px-4 py-2 group relative rounded-full cursor-pointer">
                        <img class="h-6" src="~/images/user.svg" asp-append-version="true" alt="Product Image">
                        <div class="absolute top-full right-0 pt-3">
                            <ul class="group-hover:flex hidden w-[200px] bg-white rounded-lg p-3 shadow-2xl flex-col gap-2">
                                <li class="h-[40px] px-2">Hello, <span class="font-bold">@name</span></li>
                                <li class="h-[40px] rounded-lg hover:bg-[#0000001a] flex items-center justify-start px-2 transition-all"><a asp-controller="Customers" asp-action="Details" asp-route-id="@id">Hồ sơ của bạn</a></li>
                                <li class="h-[40px] rounded-lg hover:bg-[#0000001a] flex items-center justify-start px-2 transition-all"><a asp-controller="Customers" asp-action="DetailOrder">Đơn hàng của bạn</a></li>
                                <li class="h-[40px] rounded-lg hover:bg-[#0000001a] flex items-center justify-start px-2 transition-all"><a href="#">Illustration</a></li>
                                <li class="h-[40px] rounded-lg hover:bg-[#0000001a] flex items-center justify-start px-2 transition-all">
                                    <a asp-controller="Users" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    }
                }
        </div>
    </header>
    <main class="main-content">
        @RenderBody()
    </main>
    <footer class="absolute left-0 right-0 bottom-0 p-5 bg-primary text-white">
        <div class="footer-inner max-w-[1280px] mx-auto">
            <div class="flex-center gap-5 pb-5 items-start flex-col md:flex-row">
                <div class="footer-col md:w-[40%]">
                    <div class="mr-auto logo xl:mr-0">Clinic Agent<span>.</span></div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Perspiciatis praesentium doloribus inventore voluptas aliquid in.
                    </div>
                </div>
                <div class="flex-center w-full">
                    <div class="footer-col flex-1 text-[14px]">
                        <h5 class="col-title font-semibold text-[16px]">Useful Links</h5>
                        <ul class="col-lists flex flex-col gap-3 mt-3">
                            <li>Product Categories</li>
                            <li>Special</li>
                            <li>Product</li>
                        </ul>
                    </div>
                    <div class="footer-col flex-1 text-[14px]">
                        <h5 class="col-title font-semibold text-[16px]">Useful Links</h5>
                        <ul class="col-lists flex flex-col gap-3 mt-3">
                            <li>Product Categories</li>
                            <li>Special</li>
                            <li>Product</li>
                        </ul>
                    </div>
                    <div class="footer-col flex-1 text-[14px]">
                        <h5 class="col-title font-semibold text-[16px]">Useful Links</h5>
                        <ul class="col-lists flex flex-col gap-3 mt-3">
                            <li>Product Categories</li>
                            <li>Special</li>
                            <li>Product</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border-t-2 pt-5 border-[#ffffff1a] flex-center flex-col gap-5 md:flex-row">
                <div>Clinic Agent 2023, All rights reserved</div>
                <div class="flex-center gap-10">
                    <img class="cursor-pointer"
                         src="~/images/telegram.svg"
                         alt="telegram" />
                    <img class="cursor-pointer"
                         src="~/images/discord.svg"
                         alt="discord" />
                    <img class="cursor-pointer"
                         src="~/images/twitter.svg"
                         alt="twitter" />
                    <img class="cursor-pointer"
                         src="~/images/youtube.svg"
                         alt="youtube" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/swiper.config.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
